<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>multi-lang</title>
</head>
<body>
    <div id="app_lang">
        <h1>{{ langContent.title }}</h1>
        <h1>{{ langContent.name1 }}</h1>
        <h1>{{ langContent.name2 }}</h1>
        <h1>{{ langContent.name3 }}</h1>
        <form>
            <h3>multiLang.setLang('en')</h3>
            <select v-model="lang" @change="setLang(lang)">
                <option value="en">en</option>
                <option value="cn">cn</option>
                <option value="th">th</option>
                <option value="vn">vn</option>
                <option value="ru">ru</option>
                <option value="ko">ko</option>
            </select>
            <h3>localStorage.lang = 'en'</h3>
            <select v-model="lang" @change="setLocalStorage(lang)">
                <option value="en">en</option>
                <option value="cn">cn</option>
                <option value="th">th</option>
                <option value="vn">vn</option>
                <option value="ru">ru</option>
                <option value="ko">ko</option>
            </select>
        </form>
    </div>
<script src="js/vue.min.js"></script>
<script src="js/multi-lang.js"></script>
<script>
var vue_app = new Vue({
        el: '#app_lang',
        data: {
                langContent: {
                    //
                },
                lang: 'cn'
        },
        methods: {
            setLang: function (langName) {
                multiLang.setLang(langName)
            },
            setLocalStorage: function (langName) {
                localStorage.lang = langName
            }
        }
})
var multiLang = new MultiLang()
multiLang.init({
    path: 'css/',
    name: {
        'en': 'lang_en.txt',
        'cn': 'lang_cn.txt',
        'tw': 'lang_cn.txt',
        'th': 'lang_th.txt',
        'vn': 'lang_vn.txt',
        'ru': 'lang_ru.txt',
        'ko': 'lang_ko.txt'
    },
    callback: function (data, langName) {
        vue_app.langContent = data
        if (langName === 'en') {
            //
        }
    }
})
</script>
</body>
</html>
